.subCatGalo-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary-3);
    color:white;
}
.subCatGalo-header .subCatGalo-logo img{
    height: 90px;
}
.subCatGalo-header .subCatGalo-search-bar input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.subCatGalo-main{
    padding: 20px;
}
.subCatGalo-title{
    color: var(--color-primary-1);
    text-align: left;
    margin-bottom: 20px;
}
.subCatGalo-cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    align-items: center;
}

.subCatSub-card{
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subCatSub-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.subCatSub-card h2{
    margin: 10px 0;
    font-size: 18px;
}

.subCatGalo-card button{
    padding: 10px 20px;
    background-color: #729762;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    
}
.subCatSub-card button:hover{
    background-color: var(--color-primary-3);

}

.subCatSub-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-top: 90px;
}

.subCatSub-pagination button{
    background-color: var(--color-primary-3);
    color: white;
    border:none;
    padding: 10px 15px;
    border-radius: 100px;
    cursor: pointer;
    margin: 0 100px;
}

.subCatSub-pagination span{
    font-size: 16px;
    color: var(--color-primary-1);
}