*{
    margin: 0;
    padding: 0;
}
.area-animal{
    display: flex;
    width: 60%;
    height: 40%;
    align-items: left;
    justify-content: left;
}
.button-cavalo{
    background-color: aqua;
}
.equinos {
    display: flex;
    width: 30%;
    height: 70%;
    z-index: 2;
    align-items: start;
    object-fit: cover;
    
}
.button-galo{
background-color: red;
  
}
.galinacios {
    display: flex;
    width: 30%;
    height: 70%;
    z-index: 2;
    align-items: start;
    object-fit: cover;
    
}
.button-boi{
    background-color: rgb(89, 113, 193);
}
.bovinos {
    display: flex;
    width: 30%;
    height: 70%;
    z-index: 2;
    align-items: start;
    /* background-color: aquamarine; */
    object-fit: cover;
    
}
.button-produto{
    background-color: rgb(106, 165, 60);
}
.produtos {
    display: flex;
    width: 30%;
    height: 70%;
    z-index: 2;
    align-items: start;
    /* background-color: aquamarine; */
    object-fit: cover;
    
    
}

