.categories{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}
.page-title1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    color: var(--color-primary-1);
}
.categories-imgs{
    display: flex;
    flex-direction: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.category-img{
    width: 20%;
    display: flex;
    padding: 25px 0px 25px 0px;
    border-radius: 10%;
}