@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('web-site-header.css');
@import url('categories.css');

:root{
    --color-primary-1: #40513B;
    --color-primary-2: #557153;
    --color-primary-3: #4B914B;
    --color-primary-4: #798645;
    --color-primary-5: #609966;
    --color-primary-6: #729762;
    --color-primary-7: #EDF1D6;
    --color-primary-8: #E7F0DC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}