
@import url('home.css');
:root{
    --color-primary-1: #40513B;
    --color-primary-2: #557153;
    --color-primary-3: #4B914B;
    --color-primary-4: #798645;
    --color-primary-5: #609966;
    --color-primary-6: #729762;
    --color-primary-7: #EDF1D6;
    --color-primary-8: #E7F0DC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.btn-padrao-pg{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0,0, 0, 0.1);
    transition: background-color .3s ease;
}
.btn-padrao-pg:hover{
    background-color: var(--color-primary-7);
}